# Python
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Node / Frontend
node_modules/
dist/
build/
.venvpwd
